* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-container {
  display: flex;
  margin: 1.81em 0 1.18em 6.25em;
}

h1 {
  width: 15rem;
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  color: rgb(2, 144, 255);
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-bar a {
  width: 6.563rem;
  height: 1rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  margin-left: 40px;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
}

.icon-button {
  margin: 1.43em 6.18em 1.68em 0;
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.fa-user {
  font-size: 20px;
  width: 1.063rem;
  height: 1.063rem;
  color: #0290ff;
}
